xv6-labs-2022/*~
xv6-labs-2022/_*
xv6-labs-2022/*.o
xv6-labs-2022/*.d
xv6-labs-2022/*.asm
xv6-labs-2022/*.sym
xv6-labs-2022/*.img
xv6-labs-2022/vectors.S
xv6-labs-2022/bootblock
xv6-labs-2022/entryother
xv6-labs-2022/initcode
xv6-labs-2022/initcode.out
xv6-labs-2022/kernelmemfs
xv6-labs-2022/mkfs
xv6-labs-2022/kernel/kernel
xv6-labs-2022/user/usys.S
xv6-labs-2022/.gdbinit
xv6-labs-2022/myapi.key
xv6-labs-2022/*-handin.tar.gz
xv6-labs-2022/xv6.out*
xv6-labs-2022/.vagrant/
xv6-labs-2022/submissions/
xv6-labs-2022/ph
xv6-labs-2022/barrier
xv6-labs-2022//lab-*.json
xv6-labs-2022/.DS_Store